section.repository-list {
    margin: 40px
    
}
section.repository-list h1{
    margin-bottom: 10px;
    
}
section.repository-list ul{
    list-style: none;
    
}
section.repository-list li{
    margin-bottom: 20px;
    
}
a{
    display: inline-block;
    margin-top: 16px;
    text-decoration: none;
    color: #8257e6;
}
p{
    font-size: 14px;
    color: #444;
    margin-top: 8px;
}